target
node
node_modules
.idea
*.iml
*.ipr
.classpath
.class
out/
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
.idea/
node_modules/
.travis.yml
LICENSE.txt
LICENSE
LICENSE-MIT
.tmp/
target/
*.log
*.scss
node_modules/
bower_components/
.gradle/
uploads/
*.log.zip
*.pyc
*.tar
/build/
bin/
